* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;

    background-image: url("heart-bg.jpg");
    background-size: cover;
    background-position: center;
}


/* Zarf */

#envelope-container {
    cursor: pointer;
    animation: float 2s infinite ease-in-out;
}

#envelope-container img {
    width: 250px;
}


/* Mektup */

#letter-container {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.letter-window {
    width: 380px;
    min-height: 520px;
    padding: 40px;

    background-image: url("window.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    text-align: center;

    transform: scale(0);
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.letter-window.open {
    transform: scale(1);
}


.letter-window.final {
    transform: scale(1.05);
}


/* Yazı */

#letter-title {
    color: #ff4b7d;
    font-size: 28px;
}


p {
    color: #555;
    font-size: 20px;
}


/* Kedi */

#letter-cat {
    width: 160px;
    height: 160px;
    object-fit: contain;
}


/* Butonlar */

#letter-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}


.btn {
    cursor: pointer;
    width: 100px;
    transition: 0.3s;
}


.yes-btn:hover {
    transform: scale(1.1);
}


/* Kaçan No butonu için */

.no-btn {
    position: relative;
}


/* Son yazı */

#final-text {
    display: none;
    font-size: 25px;
    color: #ff4b7d;
    margin-top: 20px;
}


/* Zarf hareketi */

@keyframes float {

    0%,100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

}
